
/*the text and text input pair... eg : username and its text box*/
.tag_input_container{ 
    display:-webkit-box;
    -webkit-box-orient:horizontal;
    margin-bottom: 10px;
}

/*text of male and female*/
#gendertxt{
    font-family: "Courier New", Courier, monospace;
    font-size: 15px;
}

/*other normal texts in the page*/
#text_normal{
    font-family: "Courier New", Courier, monospace;
    font-size: 15px;
}

/*entire form*/
#signup{
    border: 1px solid black;
    padding: 30px;
    width: 50%;
    margin: 0 auto;
}

/*textfield*/
.textfield{
    height: 30px;
    width: 300px;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
}